/* ==== =====
Invoice
============= */

.table > thead > tr > .no-line {
  border-bottom: none;
}

.table > tbody > tr > .no-line {
  border-top: none;
}
.table > tbody > tr > .thick-line {
  border-top: 2px solid $gray-100;
}

/* ==============
  Print css
===================*/
@media print {
  #topnav,.footer {
    display: none;
  }
  .wrapper {
    padding: 0;
  }
  .container-fluid {
    width: 100%;
  }

}