/* ==============
  Menu
===================*/

body {
    padding-bottom: 65px;
}

.wrapper {
    padding-top: 275px;
}

.container-fluid {
    width: 90%;
}

#topnav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background: $dark;
    border: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    min-height: 62px;
    .has-submenu.active {
        a {
            color: $primary;
        }
        .submenu {
            li.active>a {
                color: $primary;
            }
        }
    }
    .topbar-main {
        background-color: $white;
        .logo {
            line-height: 56px;
            float: left;
            .logo-large {
                height: 20px;
            }
        }
        .logo-small {
            display: none;
            height: 30px;
        }
        .nav>li>a {
            height: 36px;
            width: 36px;
            padding: 0;
            font-size: 24px;
            line-height: 35px;
            text-align: center;
            border-radius: 50%;
            margin: 12px 8px;
            color: rgba($dark, 0.7);
            &:focus,
            &:hover {
                background-color: rgba($dark, 0.1);
                color: $dark;
            }
        }
    }
    .navbar-custom {
        #navigation {
            background-color: $white;
            margin-bottom: -40px;
            border-radius: 3px;
            box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
        }
    }
    .navbar-toggle {
        border: 0;
        position: relative;
        padding: 0;
        margin: 0;
        cursor: pointer;
        &:hover {
            background-color: transparent;
            span {
                background-color: rgba($dark, 0.8);
            }
        }
        .lines {
            width: 25px;
            display: block;
            position: relative;
            padding-top: 23px;
            margin: 0 10px;
            height: 60px;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
        }
        span {
            height: 2px;
            width: 100%;
            background-color: rgba($dark, 0.8);
            display: block;
            margin-bottom: 5px;
            -webkit-transition: -webkit-transform .5s ease;
            transition: -webkit-transform .5s ease;
            transition: transform .5s ease;
        }
    }
    .navbar-toggle.open {
        span {
            position: absolute;
            &:first-child {
                top: 30px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                background-color: rgba($dark, 0.8);
            }
            &:nth-child(2) {
                visibility: hidden;
            }
            &:last-child {
                width: 100%;
                top: 30px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
    .navigation-menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .navigation-menu>li {
        display: inline-block;
        position: relative;
    }
    .navigation-menu>li>a {
        display: block;
        font-size: 13.3px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        line-height: 18px;
        padding-left: 25px;
        padding-right: 25px;
        &:hover {
            color: $primary;
        }
        &:focus {
            color: $primary;
        }
        &:active {
            color: $primary;
        }
        i {
            display: block;
            font-size: 16px;
            margin-bottom: 8px;
            text-align: center;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
        }
    }
    .navigation-menu>li>a:hover,
    .navigation-menu>li>a:focus {
        background-color: transparent;
    }
}

.topbar-custom {
    .show>.nav-link {
        &,
        &:hover,
        &:focus {
            background: $gray-100;
        }
    }
}

.menu-extras {
    ul {
        li {
            float: left;
        }
    }
}

/* Notification */
.notification-item-list {
  max-height: 230px;
}

.notification-list {
    .noti-icon {
        font-size: 20px;
        vertical-align: middle;
        color: $dark;
    }
    .noti-icon-badge {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 9px;
    }
    .notify-item {
        padding: 10px 20px;
        .notify-icon {
            float: left;
            height: 36px;
            width: 36px;
            text-align: center;
            margin-right: 10px;
            border-radius: 50%;
            color: $dark;
            i {
                height: 32px;
                width: 32px;
                background-color: $white;
                border-radius: 50%;
                line-height: 30px;
                margin-top: 2px;
            }
        }
        .notify-details {
            margin-bottom: 0;
            overflow: hidden;
            margin-left: 45px;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 500;
            span {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                font-size: 12px;
                font-weight: normal;    
            }
        }
    }
    .profile-dropdown {
        .notify-item {
            padding: 4px 20px;
        }
    }
    .nav-link {
        padding: 0 15px;
        line-height: 70px;
    }
}

.profile-dropdown {
    width: 170px;
    i {
        font-size: 17px;
        vertical-align: middle;
        margin-right: 5px;
        color: $gray-500;
    }
    span {
        vertical-align: middle;
    }
}

.nav-user {
    img {
        height: 36px;
        width: 36px;
    }
}

.arrow-none:after {
    border: none;
    margin: 0;
    display: none;
}

.dropdown-menu-lg {
    width: 300px;
}

.app-search {
    margin-top: 13px;
    .form-control,
    .form-control:focus {
        border: 1px solid $gray-200;
        font-size: 13px;
        height: 34px;
        padding-left: 18px;
        padding-right: 40px;
        margin-right: 20px;
        background: $gray-100;
        box-shadow: none;
        border-radius: 30px;
        width: 200px;
    }
    button {
        position: absolute;
        top: 13px;
        right: 20px;
        display: block;
        height: 34px;
        line-height: 34px;
        width: 34px;
        text-align: center;
        color: $muted;
        font-size: 11px;
        border: none;
        background-color: transparent;
    }
}

.page-title-box {
    padding: 20px 0;
    .page-title {
        font-size: 18px;
        margin: 0;
        line-height: 30px;
        color: $white;
    }
    .breadcrumb {
        padding: 4px 0;
        background-color: transparent;
        margin-bottom: 0;
        a {
            color: rgba($white, 0.5);
            &:hover {
                color: rgba($white, 0.7);
            }
        }
        .active {
            color: rgba($white, 0.5);
        }
    }
    .state-information {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .state-information .state-graph {
        float: right;
        margin-left: 40px;
        text-align: center;
    }
    .state-information .state-graph .info {
        font-size: 12px;
        margin-top: 5px;
        color: #eee;
    }
}
/*
  Responsive Menu
*/

@media (min-width: 992px) {
    #topnav .navigation-menu>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    } //#topnav .navigation-menu > li.active:first-of-type > a {
    // padding-left: 25px;
    // }
    #topnav {
        .navigation-menu>li.last-elements .submenu {
            left: auto;
            right: 0;
        }
        .navigation-menu>li.last-elements .submenu>li.has-submenu .submenu {
            left: auto;
            right: 100%;
            margin-left: 0;
            margin-right: 10px;
        }
        .navigation-menu>li:hover a {
            color: $primary;
            i {
                color: $primary;
            }
        }
        .navigation-menu>li .submenu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            padding: 10px 0;
            list-style: none;
            min-width: 200px;
            text-align: left;
            visibility: hidden;
            opacity: 0;
            margin-top: 20px;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            background-color: $white;
            box-shadow: 0 17px 34px 0 rgba(0, 0, 0, 0.05), 0 8px 14px 0 rgba(0, 0, 0, 0.02);
        }
        .navigation-menu>li .submenu.megamenu {
            white-space: nowrap;
            width: auto;
        }
        .navigation-menu>li .submenu.megamenu>li {
            overflow: hidden;
            width: 200px;
            display: inline-block;
            vertical-align: top;
        }
        .navigation-menu>li .submenu>li.has-submenu>a:after {
            content: "\56";
            font-family: "dripicons-v2";
            position: absolute;
            right: 20px;
            top: 8px;
            font-size: 15px;
        }
        .navigation-menu>li .submenu>li .submenu {
            left: 100%;
            top: 0;
            margin-top: 10px;
        }
        .navigation-menu>li .submenu li {
            position: relative;
        }
        .navigation-menu>li .submenu li ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
        }
        .navigation-menu>li .submenu li a {
            display: block;
            padding: 8px 25px;
            clear: both;
            white-space: nowrap;
            font-size: $base-font;
            color: lighten($dark, 10%);
            margin-bottom: 2px;
            -webkit-transition: all .35s ease;
            transition: all .35s ease;
        }
        .navigation-menu>li .submenu li a:hover {
            color: $primary;
        }
        .navbar-toggle {
            display: none;
        }
    }
    #topnav #navigation {
        display: block;
    }
}

@media (max-width: 991px) {
    .wrapper {
        padding-top: 190px;
    }
    .container-fluid {
        width: 100%;
    }
    #topnav {
        .navigation-menu {
            float: none;
            max-height: 400px;
            text-align: left;
        }
        .navigation-menu>li {
            display: block;
        }
        .navigation-menu>li>a {
            color: $dark;
            padding: 15px;
            i {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 0;
                vertical-align: inherit;
            }
        }
        /*.has-submenu.active a, .navigation-menu > li > a:active,.navigation-menu > li > a:hover {
      color: $primary !important;
    }*/
        .navigation-menu>li>a:after {
            position: absolute;
            right: 15px;
        }
        .navigation-menu>li .submenu {
            display: none;
            list-style: none;
            padding-left: 20px;
            margin: 0;
        }
        .navigation-menu>li .submenu li a {
            display: block;
            position: relative;
            padding: 7px 20px;
            color: $dark;
        }
        .navigation-menu>li .submenu li a:hover {
            color: $primary;
        }
        .navigation-menu>li .submenu li.has-submenu>a:after {
            content: "\54";
            font-family: "dripicons-v2";
            position: absolute;
            right: 30px;
        }
        .navigation-menu>li .submenu.open {
            display: block;
        }
        .navigation-menu>li .submenu .submenu {
            display: none;
            list-style: none;
        }
        .navigation-menu>li .submenu .submenu.open {
            display: block;
        }
        .navigation-menu>li .submenu.megamenu>li>ul {
            list-style: none;
            padding-left: 0;
        }
        .navigation-menu>li .submenu.megamenu>li>ul>li>span {
            display: block;
            position: relative;
            padding: 15px;
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: 2px;
            color: $dark;
        }
        .navigation-menu>li.has-submenu.open>a {
            color: $primary;
        }
        .navbar-header {
            float: left;
        }
    }
    #navigation {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        display: none;
        height: auto;
        padding-bottom: 0;
        overflow: auto;
        background-color: $white;
        z-index: 1000;
    }
    #navigation.open {
        display: block;
        overflow-y: auto;
    }
}

@media (min-width: 768px) {
    #topnav .navigation-menu>li.has-submenu:hover>.submenu {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
    }
    #topnav .navigation-menu>li.has-submenu:hover>.submenu>li.has-submenu:hover>.submenu {
        visibility: visible;
        opacity: 1;
        margin-top: -1px;
        margin-right: 0;
    }
    .navbar-toggle {
        display: block;
    }
}

@media (max-width: 767px) {
    .page-title-box {
      .breadcrumb,
      .state-information {
          display: none;
      }
    }
    .wrapper {
      padding-top: 160px;
    }
}

@media (max-width: 620px) {
    .logo-large {
        display: none;
    }
    .logo-small {
        display: inline-block !important;
    }
    #topnav .has-submenu.active a {
        color: $primary;
    }
}

.topbar-custom {
    .nav-link {
        line-height: 60px;
        color: $dark;
        display: block;
        max-height: 60px;
    }
    .dropdown-toggle {
        &:after {
            content: initial;
        }
    }
    .menu-left {
        overflow: hidden;
    }
}

.footer {
    left: 0 !important;
    font-size: inherit;
    padding: 20px 0;
    bottom: 0;
    text-align: center;
    position: absolute;
    right: 0;
    background-color: darken($white, 2%);
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05);
}